.mainpage {
    width: 100vw;
    height: 100vh;
    background: url('https://ik.imagekit.io/amazonClone123/amazon-image/bigimage1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1670262831010');
    background-size: 100vw;
    background-color: #EAEDED;
}